/***********************************************   Base   **********************************/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap'); 

body * {
   font-family: 'Syne', sans-serif;
   text-decoration: none;
}

body {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

main {
    background-color:white;
    width: 100%;
    box-sizing: border-box;
}

.page .entry-title {
    display: none;
}

/********************************************   Header    ***********************************/

nav {
   display: flex;    
   flex-direction: row;
   justify-content: space-between;
   height: 80px;
}

.header-logo {
    padding: 30px;
    max-height: 100%;
}

.menu {
   display: flex;    
   text-align: center;
}

.menu-item a {
    text-decoration: none;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.menu-item:first-child a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0em;
    color: black;
    width: 200px;

}

.menu-item-administration a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: black;
    width: 120px;
}

.menu-item:last-child a {
    background-color: #E0B9B4;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 0em;
    color: white;
    width: 236px;
}

.menu-item:last-child a:hover {
    background-color: #C02E44;
}

/**********************************************   Footer    **************************************/


footer {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0em;
    color: black;
}

/**************************************************************************************************************/
/**********************************************  Front page  Section 1  Presentation  ******************************/


.presentation {
    display: flex;
    flex-direction: column;
    background-color: #ECE2DA;
    padding: 100px 0 100px 0;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.2));
}

.slogan {
    font-size: 38px;
    font-weight: 800;
    line-height: 45,6px;
    color:#3B8E46;
    text-align: center;
}

.plantycan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feuilles1 {
    z-index: 1;
    position: absolute;
    right: 50%;
}

.feuilles2 {
    z-index: 2;
    position: absolute;
    left: 50%;
}

.canette {
    z-index: 3;
}

/******************************************** Front page  Section 2  Composition  **********************************/

.composition {
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.composition-h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color:#3B8E46;
    padding-bottom: 50px;
}

.composition-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color:black;
    max-width: 497px;
    text-align: center;
}

/***********************************************  Front page  Section 3  Gouts     ****************************************/

.gouts {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #ECE2DA;
    padding: 50px 0 50px 0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.2));
}

.gouts-h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    color:#D2776A;
    padding-bottom: 20px;
}

.gouts-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color:black;
    padding-bottom: 50px;
}

.fruits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
    max-width: 1024px;
}

.fruits-card {
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
    padding: 10px;
}

.fruits-card-h2 {
    position:absolute;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    color:white;
    text-align: center;
}

.gouts-a {
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #E0B9B4;
    color:white;
	border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-decoration: none;
    width: 198px;
    height: 55px;
    
}

.gouts-a:hover {
    background-color: #C02E44;
}

/**************************************************  Front page   Section 4  Avis **************************************/

.avis-h2 {
    padding: 100px 0 100px 0;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    color:#3B8E46;
    text-align: center;
}

.temoignages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.temoignages-img {
    max-height: 139px;
}

.temoins {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 343px;
    
}

.temoin-texte {
    max-width: 55%;
}

.temoin-texte-h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    color:#3B8E46;
    text-align: left;
}

.temoin-texte-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
}

/**************************************************  Front page   Section 5  multicans **************************************/


.multicans {
    height: 180px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.multicans2 {
    background-color: #ECE2DA;
}

.can1 {
    position: absolute;
    left: -58px;
    bottom: -144px;
}

.can2 {
    position: absolute;
    left: 33px;
    bottom: -122px;
}

.can3 {
    position: absolute;
    left: 126px;
    bottom: -144px;
}

.can4 {
    position: absolute;
    left: 219px;
    bottom: -164px;
}

.can5 {
    position: absolute;
    left: 312px;
    bottom: -144px;
}

.can6 {
    position: absolute;
    left: 405px;
    bottom: -122px;
}

.can7 {
    position: absolute;
    left: 498px;
    bottom: -164px;
}

.can8 {
    position: absolute;
    left: 591px;
    bottom: -144px;
}

.can9 {
    position: absolute;
    left: 684px;
    bottom: -122px;
}

.can10 {
    position: absolute;
    left: 777px;
    bottom: -144px;
}

.can11 {
    position: absolute;
    left: 870px;
    bottom: -164px;
}

.can12 {
    position: absolute;
    left: 963px;
    bottom: -144px;
}

.can13 {
    position: absolute;
    left: 1056px;
    bottom: -122px;
}

.can14 {
    position: absolute;
    left: 1149px;
    bottom: -144px;
}

.can15 {
    position: absolute;
    left: 1232px;
    bottom: -164px;
}

.can16 {
    position: absolute;
    left: 1352px;
    bottom: -144px;
}

/**************************************************************************************************************/
/*******************************   page nous rencontrer  section 1  rencontre  *********************************/

.rencontre {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ECE2DA;
    padding: 200px 0 150px 0;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.1));
}

.rencontre-img {
    position:absolute;
    scale: 70%;
    left: 10%;
    bottom: 35%;
    z-index: 1;
}

.rencontre-h2 {
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #D2776A;
    padding-bottom: 50px;
    z-index: 2;
}

.rencontre-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    max-width: 669px;
    margin: 0 auto;
}

/*******************************   page nous rencontrer  section 2  équipe  *********************************/

.equipe {
    position: relative;
}


.equipe-h3 {
    color: black;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;  
    padding: 100px 0 50px 0;  
}

.feuilles1bis {
    position: absolute;
    scale: 60%;
    left: 80%;
    bottom: -70px;
}


.membres {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    gap: 200px;
    position: relative;
}

.membres-h4 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.membres-p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 100px;
}


/*******************************   page nous rencontrer  section 3  nous contacter  *********************************/

.nous-contacter {
    background-color: #ECE2DA;
    padding: 50px 0 50px 0;
    position: relative;
}

.nous-contacter-h3 {
    color:black;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 50px;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}


.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    resize: none;
    margin: 10px 0 20px 0;

    position: relative;
    z-index: 2;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
    height: 71px;
    width: 383px;
}

.wpcf7-form textarea {
    height: 237px;
    width: 383px;
}

.wpcf7-form input[type="submit"] {
    background-color: #E0B9B4;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 55px;
    width: 198px;
}

.submit {
text-align: center;
padding-left: 70px;
}

.wpcf7-form input[type="submit"]:hover {
    background-color: #C02E44;
}

.feuilles3 {
    position: absolute;
    z-index: 1;
    left: 31%;
    bottom: 8%;
}
/**************************************************************************************************************/
/*******************************   page  commander  section 1  nous contacter  *********************************/

.commander {
    background-color: #3B8E46;
    padding: 100px 0 100px 0;  
}

.commander-h2 {
    font-size: 38px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}


.commande {
    max-width: 80%;
}

.commande-h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    padding-bottom: 30px;
    color: white;
    text-align: left;
}
.parfums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    max-width: 90%;
    margin: 0 auto;
}

.parfum {
    display: flex;
	justify-content:center;
	align-items: center;
    position: relative;
    max-width: 25%;
}


.parfum-img {
    max-width: 80%;
}

.parfum-h2 {
    position:absolute;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    color:white;
}



/**************************************************************************************************************/
/**************************************************************************************************************/

.test {
    
    background-color: #ECE2DA;
}
